body {
  margin: 0;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
}
input {
  padding: 10px 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #5f9341;
  border-radius: 5px;
}
button {
  padding: 10px 20px;
  background-color: #5f9341;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin: 10px 0px;
}
#box {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background: lightseagreen;
  padding: 60px;
  width: 250px;
  text-align: center;
  margin: 20px auto;
  color: white;
  font-weight: bold;
  font-size: x-large;
}
